$white: #FFFFFF;
$black: #000000;
$grey: #CCCCCC;
$light-grey: #F3F9FE;
$yellow: #FFDCA4;
$blue: #0B4870;
$medium-blue: #A4D0FA;
$light-bue: #D7EBFE;
$text: #000000;


.yellow-color {
    color: $yellow
}
.light-bue {
    color: $light-bue
}
.medium-blue {
    color: $medium-blue
}
.blue-app-color {
    color: $blue
}


