@import 'src/assets/styles/colors.scss';
#intro-page {
    position: relative;
    &.section {
        padding-top: 60px;
        padding-bottom: 60px;
        background: $medium-blue;
    }
    align-items: center;
    padding: 5vh calc((100vw - 1200px)/2);
    .text-intro-page {
        z-index: 1;
        position: relative;
        p {
            padding: 0;
            font-size: 20px;
            line-height: 28.9px;
            &:first-of-type {
                margin-top: 30px;
            }
        }
        .app-btn-option {
            margin-top: 30px;
            padding: 0 !important;
            max-width: 197px;
            outline: none;
        }
        .strong-contain {
            display: flex;
            flex-direction: row;
            align-items: center;
            img {
                margin-top: 30px;
            }
        }
    }
}

